<!DOCTYPE html>
<html>

{% include head.html %}

<body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

        <header class="page-header">

            <!-- You can turn off the avatar in _config.yml by setting to false -->
            {% if site.resume_avatar == 'true' %}
            <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image"> {% endif %}

            <!-- Your name is defined in the _config.yml file -->
            <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

            <div class="title-bar">

                <!-- Your title is also defined in the _config.yml file -->
                <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

                <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
                {% include icon-links.html %}
            </div>

            <div class="executive-summary" itemprop="description">
                <p>A seasoned Test-Engineer and team leader focused on improving quality at every layer of the Product from team-communications, to work-scoping, to writing tests and applying appropriate technologies\methodologies for efficiency. Driven by
                    a desire to learn and passion for collaboration and mentoring. Able to see through the clutter, expose and communicate areas of risk, and advocate for the Customer.
                </p>
            </div>

            {% if site.resume_looking_for_work == 'yes' %}
            <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a> {% elsif site.resume_looking_for_work == 'no' %}
            <a class="contact-button not-looking">I'm not looking for work right now.</a> {% else %} {% endif %}

        </header>

        {% if site.resume_section_skills %}
        <section class="content-section">

            <header class="section-header">
                <h2>skill areas</h2>
            </header>

            <div class="resume-item">
                <ul class="columns">
                    <li class="column one-half">Cypress, WebdriverIO, Postman\Newman, Katalon Studio</li>
                    <li class="column one-half">Mobile Testing, RESTful API Test Automation, UI Test Automation</li>
                    <li class="column one-half">Javascript, React, HTML, CSS, Python</li>
                    <li class="column one-half">SQL, Elastic, Couchbase, Ansible</li>
                    <li class="column one-half">Git, C#, NUnit, Client-side MVC</li>
                    <li class="column one-half">Agile, Kanban, TDD</li>
                    <li class="column one-half">Leadership, Mentoring, Cross-Team Collaboration</li>
                    <li class="column one-half">Clarifier of Project and Product Requirements</li>
                </ul>
            </div>

        </section>
        {% endif %} {% if site.resume_section_experience %}
        <!-- begin Experience -->
        <section class="content-section">

            <header class="section-header">
                <h2>professional experience</h2>
            </header>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Faithlife, LLC </h3>
                <h4 class="resume-item-details" itemprop="description">Software Test Engineer &bull; June, 2021 &mdash; Present</h4>
                <p class="resume-item-copy">First Test Engineer hired to improve quality and testability of a central online-community Product</p>
                <ul class="resume-item-list">
                    <li>Migrate aging Selenium tests to Cypress for the React front-end</li>
                    <li>Work across multiple feature teams in areas of Exploratory Testing and Release Support</li>
                    <li>Improve Quality position through analysis of existing processes and consult on appropriate areas of QA-integration</li>
                    <li>Mentor junior QA Testers in areas of Testing philosophy, execution, and skill development</li>                    
                    <li>Cypress.io, React, C#, Postman</li>
                </ul>
            </div>
            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Brooks Running Inc</h3>
                <h4 class="resume-item-details" itemprop="description">QA Engineer &bull; May, 2020 &mdash; Present</h4>
                <p class="resume-item-copy">Key QA Engineer on a Dynamic Team supporting and growing a large E-Commerce website:</p>
                <ul class="resume-item-list">
                    <li>Plan and execute extensive Exploratory Testing around new features, 3rd party integrations, and bug fixes</li>
                    <li>Augment existing UI Functional Test Automation coverage in webdriver.io</li>
                    <li>Explore and demo alternate\emerging technologies and tools to leverage into the QA space (Postman, cypress.io)</li>
                    <li>Partner in building a robust ‘quality-culture’ through coaching, test-pairing, and brown-bag presentations, all in a remote working environment</li>                    
                    <li>webdriver.io, SalesForce Commerce Cloud, CyberSource, Postman, cypress.io</li>
                </ul>
            </div>


            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Rubica Inc</h3>
                <h4 class="resume-item-details" itemprop="description">Software QA Manager &bull; Mar, 2017 &mdash; March 2020</h4>
                <p class="resume-item-copy">Strategic and Functional Test Lead for Rubica Mobile and Desktop Applications:</p>
                <ul class="resume-item-list">
                    <li>Implemented a flexible and disciplined testing approach to the Rubica App-landscape including desktop, mobile apps, and web-portal</li>
                    <li>Composed and maintained extensive library of Manual and Automated Test Cases and Test Plans for all supported Platforms</li>
                    <li>Evaluated and implemented tooling for automated API and UI testing</li>
                    <li>Developed internal process and skills matrices for effective interviews\hires</li>
                    <li>Drove UX and App Performance improvements through close collaboration with Product and Engineering </li>
                    <li>Remote pair-testing\debugging with Developers</li>
                    <li>Postman, Katalon Studio, Javascript, Python, MySQL, iOS Simulator, Android Emulator</li>
                </ul>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">FONS | Teach Well</h3>
                <h4 class="resume-item-details" itemprop="description">Software Test Engineer &bull; Jan, 2017 &mdash; Mar, 2017</h4>
                <p class="resume-item-copy">Primary Test\QA Resource for the FONS Web and Mobile Apps:</p>
                <ul class="resume-item-list">
                    <li>Extensive Exploratory Testing of all FONS app functionality through a full React-Native re-write</li>
                    <li>Contribute design\UEX Feedback implemented into Production App</li>
                    <li>Formulate and document user workflows for test automation</li>
                    <li>Developed automated API integration tests with Postman\Newman</li>
                    <li>Remote Pair-testing and debugging with Developers</li>
                    <li>iOS Simulator, Android Emulator, PostgreSQL, Postman\Newman</li>
                </ul>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">CenturyLink Cloud (Formerly Tier3 Inc.)</h3>
                <h4 class="resume-item-details" itemprop="description">Platform Engineer &bull; Jun, 2015 &mdash; Nov 2016</h4>
                <p class="resume-item-copy">Member of a TDD-focused, pair-programming Devops team responsible for evolving and integrating the Billing System for a world-class SAAS\IAAS Cloud with with a global footprint:</p>
                <ul class="resume-item-list">
                    <li>Developed improvements to invoicing systems to dramatically improve accuracy and speed.</li>
                    <li>Developed automation for Data Center Deployment and Management using Ansible</li>
                    <li>Continued expansion of automated API Testing Tools and processes with Postman</li>
                    <li>Served in on-call rotation for diagnosing and resolving Platform outages and issue escalations.</li>
                    <li>C#, Couchbase, Elastic, Kibana, XUnit, SQL Server, Ansible, Postman, Newman</li>
                </ul>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Tier3 Inc.</h3>
                <h4 class="resume-item-details" itemprop="description">SDET &bull; April 2012 &mdash; Jun, 2015</h4>
                <p class="resume-item-copy">Test-Engineer on a small team responsible for measurably increasing quality on the full Tier3 SAAS\IAAS stack via exploratory and automated testing:</p>
                <ul class="resume-item-list">
                    <li>Developed automated API test suites adopted into team-wide use.</li>
                    <li>Contribute to an automated suite of coded-UI Tests (C# + Selenium Grid).</li>
                    <li>Serve as a Test-Pair with Developers especially in areas of Feature Integration.</li>
                    <li>Work through and expand backlog of Exploratory Testing Charters.</li>
                    <li>Provide active, engaged support and smoke-testing for Platform Releases.</li>
                    <li>Leveraged extensive domain knowledge to test integration with Centurylink Systems during and post-acquisition.</li>
                    <li>Serve in on-call rotation for diagnosing and resolving Platform outages and issue escalations.</li>
                    <li>C#, Couchbase, Elastic, Kibana, SQL Server, HTML, CSS, Javascript, JQuery, Selenium WebDriver, Postman, Newman</li>
                </ul>

            </div>
            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">Cole&Weber United</h3>
                <h4 class="resume-item-details" itemprop="description">QA Specialist (Sr Test Engineer) &bull; July 2009 &mdash; April 2012</h4>
                <p class="resume-item-copy">Sole Testing\QA resource for the Digital Team tasked with bringing visibility and robustness to the QA Process. Established QA Best Practices to inform testing approaches for a variety of client projects:</p>
                <ul class="resume-item-list">
                    <li>Measurably increased Test Coverage and confidence of project releases through Test Case creation and maintenance</li>
                    <li>Researched and implemented various testing tools including building a framework for automated UX testing (Selenium RC, C#).</li>
                    <li>Worked closely with Project Management to refine and clarify requirements and schedule at all phases of project life-cycle.</li>
                    <li>Built and maintained multiple Test environments for Integration and UI testing.</li>
                    <li>Regularly wrote and optimized SQL queries for evaluating Data Integrity for Lead Generation System and report validation.</li>
                    <li>SQL Server, C#, Selenium RC, HTML, CSS, Javascript, AJAX, Flex, Flash</li>
                </ul>
            </div>

            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">LexisNexis Courtlink</h3>
                <h4 class="resume-item-details" itemprop="description">Sr Software Test Analyst &bull; October 2007 &mdash; June 2009</h4>
                <p class="resume-item-copy">Ensured timely, accurate integration of Appelate Court data into the networked, searchable Courtlink System:</p>
                <ul class="resume-item-list">
                    <li>Performed extensive Data Integrity validation through writing and optimizing SQL Queries\Views.</li>
                    <li>Thoroughly tested UX experience and performance of Courtlink's proprietary Court System Search Tools.</li>
                    <li>Provided on-hand testing support for scheduled Releases and Hotfixes.</li>
                    <li>Identified inefficiencies in Test Automation and initiated team efforts to correct the issues.</li>
                    <li>Collaborated closely with PM Team to refine Project Requirements and delivery schedule.</li>
                    <li>SQL Server, HTML, Javascript, Quality Center</li>
                </ul>
            </div>

 
            <!-- <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">LexisNexis Applied Discovery</h3>
                <h4 class="resume-item-details" itemprop="description">Sr QA Engineer &bull; February 2005 &mdash; October 2007</h4>
                <p class="resume-item-copy">Tester of Applied Discovery's proprietary .NET-based Document Processing Engine</p>
                <ul class="resume-item-list">
                    <li>Wrote and optimized SQL Queries\Views for testing integrity of Document Processing Engine's output.</li>
                    <li>Worked closely with Developers to improve performance and UX of internal testing tools.</li>
                    <li>Created and Maintained Test Cases for the suite of AD Document Processing Engines.</li>
                    <li>Maintained and Automated Deployments of multiple Test environments on an ongoing basis.</li>
                    <li>SQL Server, C#, VB, Quality Center</li>
                </ul>

                 <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                    <h3 class="resume-item-title" itemprop="name">LexisNexis Applied Discovery</h3>
                    <h4 class="resume-item-details" itemprop="description">Sr Production Specialist &bull; November 2003 &mdash; February 2005</h4>
                    <p class="resume-item-copy">Promoted to technical and tactical lead for 3-member team delivering critical E-Discovery Data for large, multinational clients.</p>
                    <ul class="resume-item-list">
                        <li>Delivered timely and thorough case-relevant E-Discovery data using internal Tools and custom SQL scripts.</li>
                        <li>Managed priority of multiple, concurrently running projects.</li>
                        <li>Wrote Custom Reports in SQL as requested by internal and external Clients.</li>
                        <li>Assessed potential new talent and provided in-depth training post-hire.</li>
                        <li>SQL Server, .NET, VB</li>
                    </ul>
                </div>
                -->
                <!-- end of resume-item -->

        </section>
        <!-- end Experience -->
        {% endif %} {% if site.resume_section_education %}
        <!-- begin Education -->
        <section class="content-section">

            <header class="section-header">
                <h2>Education</h2>
            </header>

            <div class="resume-item" itemscope itemprop="alumniOf" itemtypea="http://schema.org/CollegeOrUniversity">
                <h3 class="resume-item-title" itemprop="name">University of Washington Extension</h3>
                <h4 class="resume-item-details" itemprop="description">Certificate, Software Testing Automation with C#</h4>
            </div>

            <div class="resume-item" itemscope itemprop="alumniOf" itemtypea="http://schema.org/CollegeOrUniversity">
                <h3 class="resume-item-title" itemprop="name">SQE Training </h3>
                <h4 class="resume-item-details" itemprop="description">Certificate, Mastering Test Design</h4>
            </div>

        </section>
        <!-- end Education -->
        {% endif %} {% if site.resume_section_projects %}
        <!-- begin Projects -->
        <section class="content-section">

            <header class="section-header">
                <h2>Projects</h2>
            </header>

            <div class="resume-item">
                <h3 class="resume-item-title"><a href="http://donutlocator.io">donutfinder.io</a></h3>
                <h4 class="resume-item-details">Founder & Primary Developer &bull; 2012 &mdash; Present</h4>
                <p class="resume-item-copy">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
            </div>

            <div class="resume-item">
                <h3 class="resume-item-title">Springfield Donut Eater's User Group</h3>
                <h4 class="resume-item-details">Co-Founder & Organizer &bull; 2007 &mdash; Present</h4>
                <p class="resume-item-copy">DEUG is a local monthly meetup in Springfield where we share all the latest tips and tricks for dat donut lifestyle. I organize the group, and typically eat most of the donuts.</p>
            </div>

        </section>
        <!-- end Projects -->
        {% endif %} {% if site.resume_section_recognition %}
        <!-- begin Recognition -->
        <section class="content-section">

            <header class="section-header">
                <h2>Recognition</h2>
            </header>

            <div class="resume-item">
                <h3 class="resume-item-title" itemprop="award">Springfield Nuclear Power Plant</h3>
                <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
                <p class="resume-item-copy">Awarded for stopping a nuclear meltdown, even though I also started it.</p>
            </div>

            <div class="resume-item">
                <h3 class="resume-item-title" itemprop="award">Duff Beer Customer of the year</h3>
                <h4 class="resume-item-details">1997 &mdash; 2001, 2003, 2008 &mdash; 2012</h4>
                <p class="resume-item-copy">Honored by <a href="https://en.wikipedia.org/wiki/Duff_Beer">Duff Beer</a> for being an outstanding customer several years straight. Qualifications included most beer consumed at a bar, most beer purchased, and most beer ralphed.</p>
            </div>

            <div class="resume-item">
                <h3 class="resume-item-title" itemprop="award">Moe's Patron of the Month</h3>
                <h4 class="resume-item-details">12/2001, 8/2004</h4>
                <p class="resume-item-copy">Specifically this prestigious awarded twice for stopping a robber with my belly.</p>
            </div>

        </section>
        <!-- end Recognition -->
        {% endif %} {% if site.resume_section_associations %}
        <!-- begin Associations -->
        <section class="content-section">

            <header class="section-header">
                <h2>Associations</h2>
            </header>

            <div class="resume-item">
                <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
                <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
                <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
            </div>

            <div class="resume-item">
                <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
                <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
                <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
            </div>

        </section>
        <!-- end Associations -->
        {% endif %} {% if site.resume_section_links %}
        <!-- begin Links -->
        <section class="content-section">

            <header class="section-header">
                <h2>Additional Links</h2>
            </header>

            <div class="resume-item">
                <ul class="resume-item-list">
                    <li><a href="#">Springfield Poker Club</a></li>
                    <li><a href="#">Springfield Donut Eater's User Group</a></li>
                </ul>
            </div>

        </section>
        <!-- end Links -->
        {% endif %}

        <footer class="page-footer">
            <p class="footer-line">Made by <a href="https://www.linkedin.com/in/ryanharmaning">@rharmaning </a> <span>ryan.harmaning@gmail.com, 530-563-6634</span>
        </footer>

        </div>

</body>

</html>